.back-service {
  background-image: url('../../../assets/img/service.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding : 30px 0 30px;
}
#taille{

}
