<div id="propos">
<div class="back-propos">
  <div class="container">
    <div class="head" style="text-align: center">
      <h1>A PROPOS</h1>
      <p>La société 3A Service s'occupe de vous faciliter tout les aspets de votre exploitation.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/about-mission.jpg" alt="...">
          <div class="card-body">
            <h1><span>Nés en 1946</span></h1>
            <p class="card-text">Ayant travailler depuis 1946 sur des grands
              projets d'état, nous continuons, à ce jour, à
              être au coeur du developpement, de
              l'urbanisation et de la modernité</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/about-plan.jpg" alt="...">
          <div class="card-body">
            <h1><span>En 2014</span></h1>
            <p class="card-text">Groupe 3A a vu le jour en 2014 en prenant
              comme valeur la satisfaction de ses clients en
              leurs offrant des services adapté à leur besoin
              et ceux dans differents domaines.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/about-vision.jpg" alt="...">
          <div class="card-body">
            <h1><span>Competences</span></h1>
            <p class="card-text">Nos solutions couvre plusieurs aspects selon
              vos besoin. Importation des Marchandises,
              machines, élements... nous nous occupons de
              vous livrer toute sorte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
