.back-propos {
  background-image: url('../../../assets/img/about-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0;
}
.card {
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
