<div style="height: 100%">
  <div class="page-header section-dark">
    <div class="section container">
      <div class="row">
        <div class="page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div>
                <img class="img" src="../../../assets/img/intro-carousel/1.jpg" alt="">
                <div class="carousel-caption">
                  <h2></h2>
                  <p>Somewhere</p>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <img class="img" src="../../../assets/img/intro-carousel/2.jpg" alt="">
                <div class="carousel-caption">
                  <h2></h2>
                  <p>Somewhere else</p>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <img class="img" src="../../../assets/img/intro-carousel/3.jpg" alt="">
                <div class="carousel-caption">
                  <h2></h2>
                  <p>Here it is</p>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>


