.section {
  padding: 100px 0;
}
#navbar-full .navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
  z-index: 2;
}
.page-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.img{
  width: 100%;
  max-height: 100vh;
  margin: auto;
}
