<div id="portfolio">
  <div class="container">
    <div style="text-align: center">
      <h1>PORTEFEUILLE</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-item">
            <div class="portfolio-hover">
              <div class="text">
                <h4>Threads</h4>
                <p>Illustrations</p></div>
            </div>
            <img src="../../../assets/img/portfolio/01-thumbnail.jpg" class="image" style="width:100%">
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()" >
          <div class="portfolio-item">
            <img src="../../../assets/img/portfolio/02-thumbnail.jpg" class="image" style="width:100%">
            <div class="portfolio-hover">
              <div class="text"><h4>Explore</h4>
                <p>Graphic Design</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()">
          <div class="portfolio-item">
            <img src="../../../assets/img/portfolio/03-thumbnail.jpg" class="image" style="width:100%">
            <div class="portfolio-hover">
              <div class="text"><h4>Finish</h4>
                <p>Identity</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()">
          <div class="portfolio-item">
            <img src="../../../assets/img/portfolio/04-thumbnail.jpg" class="image" style="width:100%">
            <div class="portfolio-hover">
              <div class="text"><h4>Lines</h4>
                <p>Branding</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()">
          <div class="portfolio-item">
            <img src="../../../assets/img/portfolio/05-thumbnail.jpg" class="image" style="width:100%">
            <div class="portfolio-hover">
              <div class="text">
                <h2>Southwest</h2>
                <p>Website Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio">
        <div (click)="openDialog()">
          <div class="portfolio-item">
            <img src="../../../assets/img/portfolio/06-thumbnail.jpg" class="image" style="width:100%">
            <div class="portfolio-hover">
              <div class="text">
                <h4>Window</h4>
                <p>Photography</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
