<div class="dialog " style="align-content: center; overflow: visible">
  <div id="content">
    <mat-dialog-content class="">
      <div id="title">
        <h2 class="text-uppercase">{{data._titre}}</h2>
      </div>
      <!--<div id="images" class="row">
        <div *ngFor="let image of data.ImagesLink"  class=" col-md-3 col-sm-6 mx-auto card" >
          <img [src]="image">
        </div>
      </div>-->
      <div id="caption">
        <p>{{data._capt}}</p>
        Asfazjd jkqfmdkdjqlm
      </div>
      <div id="paragraph">
        <p>{{data._par}}</p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Close</button>
    </mat-dialog-actions>
  </div>
</div>
