<div class="dialog mx-auto">
  <div id="content">
    <mat-dialog-content class="">
      <div id="title">
        <h2 class="text-uppercase">{{data.titre}}</h2>
      </div>
      <div class="row mx-auto" >
        <div *ngFor="let image of data.ImagesLink">
          <div  class="col-md-4 col-sm-6" id="images">
            <img [src]="image" class="image">
          </div>
        </div>
      </div>
      <div id="caption">
        <p>{{data.capt}}</p>
        Asfazjd jkqfmdkdjqlm
      </div>
      <div id="paragraph">
        <p>{{data.par}}</p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Close</button>
    </mat-dialog-actions>
  </div>
</div>
