<div class="back-faits" >
  <div style="text-align: center">
    <h1>FAITS</h1>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
  </div>
  <div class="row">
    <div class="col" style="text-align: center">
      <h2>100</h2>
      <p>Clients</p>
    </div>
    <div class="col" style="text-align: center">
      <h2>28</h2>
      <p>HardWorkers</p>
    </div>
    <div class="col" style="text-align: center">
      <h2>23</h2>
      <p>HourSupport</p>
    </div>
    <div class="col" style="text-align: center">
      <h2>20</h2>
      <p>Projets</p>
    </div>
  </div>
</div>
<app-portefeuille></app-portefeuille>
